#Socials
{
    background-color: plum;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#Socials a
{ 
  margin-right: 20px;
}

